// Réduction de l'espacement du divider
::ng-deep .messages-divider {
  margin: 0.25rem 0 !important;
  
  .p-divider-horizontal:before {
    border-top-color: rgba(255, 255, 255, 0.1);
  }
}

// Style personnalisé pour la scrollbar
.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}